@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: 0;
    text-transform: capitalize;
    transition: all ease 0.2s;
}

html{
    font-size: 62.8%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

*::selection{
    background-color: blue;
    color: white;
}

html::-webkit-scrollbar-track{
    background-color:  rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb{
    background-color:  #420177;
}

/* Navbar Starts */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.7rem;
    background-color:  #fff;
    padding: 1.7rem, 10%;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

header .logo{
    font-size: 1.9rem;
    font-weight: 800;
    color: #0e2431;
    text-decoration: none;
    margin-left: 10rem;
}

header .logo i{
    font-size: 2.2rem;
}

header .logo:hover{
    color: #fc8c05;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar li{
    margin-left: 2.5rem;
    margin-right: 0.5rem;
}

header .navbar ul li a{
    font-size: 1.57rem;
    font-weight: 600;
    color: #0e2431;
    letter-spacing: 0.04rem;
    transition: 0.2s;
    text-decoration: none;
}

header .navbar ul li a:active{
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
    padding: 0.5rem 0;
}

 header .navbar ul li a:hover{
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
    padding: 0.5rem 0;
}

/* Navbar Ends */

/* Hamburger section starts */

#menu{
    font-size: 3rem;
    color: rgb(24, 2, 63);
    display: none;
    cursor: pointer;
}

/* Responsiveness starts */
@media (max-width:768px) {
    #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: 6.8rem;
        right: -120%;
        width: 75%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
        background-color: #0e0f31;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 1rem;
    }

    header .navbar ul li{
        align-items: center;
        width: 26rem;
        border-radius: 0.5rem;
        margin: 1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding: 1rem;
        text-align: left;
        color: #fff;
        font-size: 2rem;
}


header .navbar ul li a.active,
header .navbar ul li a:hover {
  padding: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid #011aff;
}
.fa-times {
  transform: rotate(180deg);
}
header .navbar.nav-toggle {
  right: 0;
  transition: 1s;
}
}

/* Hamburger Item ends */
/* Work Section Strats */

.work{
    background: linear-gradient(to bottom, #010136, #00003a);
    margin-top: 4rem;
    /* height: 100%; */
}


.work .heading span{
    color: rgb(250,230,0);
}

.work .button-group{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin: 2rem auto;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .work .button-group .btn{
    outline: none;
    padding: 1rem 2rem;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
  }

  .work .button-group .btn:hover{
    background-color: #fff;
    color: #000;
  }
  .work .button-group .btn.is-checked{
    background-color: #fff;
    color: #000;
  }

  .work .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    box-shadow: 0 .7rem 1rem rgba(0,0,0,.3);
    position: relative;
    overflow:hidden;
    height:30rem;
    background: #fff;
    border: none;
  }

  .work .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .work .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:85%; left:0;
    background:rgba(0, 0, 0, 0.546);
    color: white;
    display: flex;
    transition: 0.75s;
    flex-direction: column;
  }
  .work .box-container .box .content .tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    padding-left: 1rem;
    background: #ffd900;
  }
  .work .box-container .box .content .tag h3{
    font-size: 2rem;
  }
  .work .box-container .box:hover .content{
    top: 25%;
  }
  .work .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .work .desc p{
    font-size: 1.5rem;
  }
  .work .desc .btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  .work .desc .btns .btn{
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(12, 12, 12);
    margin-right: 2rem;
  }
  .work .desc .btns .btn:hover{
    background: rgba(10, 8, 8, 0.463);
    color: whitesmoke;
  }

  @media screen and (max-width: 450px) {
    .work .button-group{
      width: 100%;
    }
    .work .box-container{
      margin: 0rem;
    }
    .work .box-container .grid-item .box{
      width: 95% !important;
    }
  }
  
  /* back to home button */
  .backbtn{
    display: flex;
    justify-content: center;
    /* margin-bottom: 10rem; */
    padding-bottom: 2rem;
    margin-top: 4rem;
  }
  .backbtn .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: .5em;
    transition: 0.3s;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 2px 4px rgba(48, 68, 247, .3);
    text-align: center;
  }
  .backbtn .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: 'Nunito', sans-serif;
  }
  .backbtn .btn i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .backbtn .btn:hover{
    background: #ffffff;
    color: #000;
    /* margin-bottom: 2rem; */
    /* margin-bottom: 2rem; */
  }
  .backbtn .btn:hover i {
    transform: translateX(-8px);
  }
  /* work section ends */
  
  /* common media queries starts*/
  @media(max-width:450px){
    html{
      font-size: 55%;
    }
    body{
      padding-right: 0;
    }
    section{
      padding: 2rem;
    }
  }
  /* common media queries ends*/
  
  
  /* scroll top starts */
  #scroll-top{
    position: fixed;
    top: -140%;
    right: 2rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background: #ffae00;
    color: rgb(13, 0, 44);
    border-radius: 5rem;
    transition: 1s linear;
    z-index: 1000;
  }
  #scroll-top.active{
    top: calc(100% - 12rem);
  }
  /* scroll top ends */